@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* general */

* {
  font-family: "Raleway", sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
  max-width: 1400px;
  margin: auto;
}

p {
  font-size: 18px;
  font-weight: 700;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fa-solid:nth-of-type(5) {
  color: #d9d9d9;
}


/*header*/
/*navigateur*/

nav {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

#logoBooki {
  display: block;
  height: 19px;
  width: 61px;
  margin-top: 44px;
  margin-left: 35px;
}

#navMenu {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 300px;
  height: 100px;
}

#navMenu ul {
  display: flex;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#navMenu li {
  display: flex;
  height: 100%;
  width: 50%;
}

#navMenu a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#navMenu li:hover {
  border-top: 2px solid #0065fc;
  height: 98px;
}

#navMenu a:hover {
  color: #0065fc;
}

#title {
  margin-top: 35px;
  margin-left: 35px;
}

#subtitle {
  margin-top: 8px;
  margin-left: 35px;
}

/*main*/
/*bar de recherche*/

#searchBar {
  margin-top: 20px;
  margin-left: 35px;
  display: flex;
  width: 430px;
  height: 50px;
  border-radius: 15px;
  background-color: #d9d9d9;
}

#locationLogo {
  height: 50px;
  width: 49px;
  display: flex;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

#cityName {
  height: 48px;
  width: 248px;
}

#cityName input {
  height: 100%;
  width: 100%;
  padding-left: 16px;
  font-size: 18px;
  font-weight: 700;
  border-style: none;
}

#cityName input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

#searchLetter {
  background-color: #0065fc;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  width: 132px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

#searchLetter a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

#searchLogo {
  display: none;
}

/*filtres*/

#filterSection {
  display: flex;
  justify-content: space-between;
  max-width: 930px;
  width: 95%;
  margin-top: 25px;
  margin-left: 42px;
}

#filterSectionTitle {
  height: 21px;
  width: 10%;
  margin: 0px;
  margin-top: 15px;
}

#filterSectionCategory {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.filter {
  display: flex;
  font-size: 17px;
  font-weight: 700;
  height: 50px;
  width: auto;
  margin: 0px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  overflow: hidden;
}

.filter a {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.filter i {
  color: #0065fc;
  margin-right: 10px;
}

.filterText {
  width: auto;
}

.filter a:hover {
  background-color: #deebff;
}

#disponibleLocation {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 42px;
  width: 450px;
}

#disponibleLocationLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 11px;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
}

#disponibleLocationLogo i {
  color: #0065fc;
  width: 4px;
  height: 10px;
  padding-left: 9px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 10px;
}

#disponibleLocationText {
  display: flex;
}

#mainAndPopular {
  display: flex;
  margin-top: 30px;
}

/*hebergements*/

#mainSection {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  height: 626px;
  width: 63%;
  background-color: #d9d9d9;
  border-radius: 20px;
}

#mainSectionTitle {
  margin-top: 40px;
  margin-left: 40px;
}

#mainSectionFirstRow {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

#mainSectionSecondRow {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

.mainSectionArticle {
  width: 30%;
  height: 199px;
  margin: 0px;
  border-radius: 20px;
  background-color: white;
  border: 5px solid white;
  overflow: hidden;
  box-shadow: 7px 7px 14px #c4c4c4;
}

.mainSectionArticle a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mainSectionArticleImage {
  display: block;
  width: 100%;
  height: 126px;
}

.mainSectionArticleText {
  display: block;
  height: 75px;
  background-color: white;
  margin-top: 4px;
  margin-left: 16px;
}

.mainSectionArticleName {
  display: block;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
}

.mainSectionArticlePrice {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
}

.mainSectionArticleStar {
  display: block;
  margin-top: 4px;
}

.mainSectionArticleStar i {
  color: #0065fc;
  font-size: 13px;

}

#mainSectionSeeMore {
  display: block;
  margin-left: 44px;
  margin-bottom: 25px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
}

/*populaires*/

#popularSection {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  margin-right: 2%;
  height: 625px;
  width: 30%;
  background-color: #d9d9d9;
  border-radius: 20px;
}

#popularSectionTitle {
  display: flex;
  height: 26px;
  width: 82%;
  margin-top: 41px;
  margin-left: 9%;
  margin-right: 9%;
}

#popularSectionTitleText {
  display: block;
  width: 90%;
  margin-left: 0px;
}

#popularSectionTitleLogo {
  padding-left: 10px;
}

#popularSectionTitle i {
  display: block;
  width: 18px;
  color: #0065fc;
}

#popularSectionRow {
  margin: 0px;
}

.popularSectionArticle {
  width: 82%;
  height: 144px;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  border: 5px solid white;
  overflow: hidden;
  box-shadow: 7px 7px 14px #c4c4c4;
}

.popularSectionArticle a {
  display: flex;
  width: 100%;
  height: 100%;
}

.popularSectionArticleImage {
  display: block;
  margin-left: 0px;
  width: 137px;
  height: 144px;
}

.popularSectionArticleText {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 5px;
  width: 160px;
  height: 144px;
}

.popularSectionArticleName {
  display: block;
  margin-top: 11px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 700;
}

.popularSectionArticlePrice {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 0px;
  font-size: 14px;
  font-weight: 400;
}

.popularSectionArticleStar {
  display: block;
  width: 74px;
  margin-left: 0px;
  margin-bottom: 12px;
  font-size: 13px;
}

.popularSectionArticleText i {
  color: #0065fc;
}

/*activite*/

#activitySectionTitle {
  margin-top: 60px;
  margin-left: 30px;
}

#activitySection {
  display: flex;
  justify-content: space-between;
  width: 96%;
  height: 445px;
  margin-top: 18px;
  margin-left: 2%;
  margin-right: 2%;
}

.activitySectionArticle {
  margin: 0%;
  width: 22.5%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 7px 7px 14px #c4c4c4;
}

.activitySectionArticle a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.activitySectionArticleImage {
  display: block;
  width: 100%;
  height: 389px;
  margin: 0px;
}

.activitySectionArticleText {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-left: 6.5%;
  margin-right: 6.5%;
  font-size: 16px;
  font-weight: 700;
}

/*footer*/

footer {
  width: 96%;
  height: 225px;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #d9d9d9;
}

#footerFirstSection {
  display: block;
  width: 250px;
  margin: 0px;
  margin-top: 45px;
}

#footerSecondSection {
  display: block;
  width: 250px;
  margin: 0px;
  margin-top: 45px;
}

#footerThirdSection {
  display: block;
  width: 250px;
  margin: 0px;
  margin-top: 45px;
}

.footerSectionTitle {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
}

.footerSectionLink {
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
}

/*affichage tablette*/

@media (max-width: 991px) {

  #filterSection {
    margin-left: 2%;
  }

  .filter a {
    padding-left: 10px;
    padding-right: 10px;
  }

  #mainAndPopular {
    display: flex;
    flex-direction: column;
  }

  #mainSection {
    width: 96%;
    margin-right: 2%;
  }

  #popularSection {
    flex-direction: row;
    margin-top: 53px;
    margin-left: 2%;
    margin-right: 2%;
    height: 278px;
    width: 96%;
  }

  #popularSection {
    display: flex;
    flex-direction: column;
    }

    #popularSectionTitle {
      width: auto;
      margin-left: 4.5%;
      margin-right: 4.5%;
    }

  #popularSectionRow {
    display: flex;
    justify-content: space-between;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-bottom: 48px;
    margin-top: 26px;
  }

  .popularSectionArticle {
    width: 30%;
    margin: 0px;
  }

  #activitySectionTitle {
    margin-top: 70px;
  }

  #activitySection {
    margin-top: 34px;
    height: 267px;
  }

  .activitySectionArticle {
    height: 267px;
  }

  .activitySectionArticleImage {
    height: 211px;
  }

}

@media (max-width: 767px) {

  nav {
    flex-direction: column;
    justify-content: center;
  }

  #logoBooki {
    margin: auto;
    margin-top: 21px;
  }

  #navMenu {
    width: 100%;
    height: 50px;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
  }

  #navMenu li {
    border-bottom: 3px solid #d9d9d9;
  }

  #navMenu li:hover {
    border-top: 0px;
    border-bottom: 3px solid #0065fc;
    height: 50px;
  }

  #title {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #subtitle {
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #searchBar {
    margin-top: 36px;
    margin-left: 22px;
    margin-right: 22px;
    width: auto;
  }

  #cityName {
    display: block;
    width: 90%;
  }

  #searchLetter {
    display: none;
  }

  #searchLogo {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #0065fc;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

  #searchLogo a {
    display: flex;
    width: 100%;
    height: 100%;
  }

  #filterSection {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
  }

  #filterSectionCategory {
    margin: 0px;
    margin-top: 15px;
    height: 117px;
    flex-wrap: wrap;
  }

  .filter {
    display: flex;
    width: 45%;
    height: 50px;
    font-size: 11px;
    padding: 0px;
    margin: 0%;
  }

  .filter i {
    font-size: 18px;
    margin-right: 5px;
  }

  .filterText {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
  }

  #disponibleLocation {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 22px;
    width: auto;
    max-width: 400px;
  }

  #disponibleLocationText {
    margin-top: 25px;
  }

  #mainAndPopular {
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  #popularSection {
    border-radius: 0px;
    width: 100%;
    height: 580px;
    margin: 0px;
    
  }

  #popularSectionRow {
    flex-direction: column;
    height: 465px;
  }

  .popularSectionArticle {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 11px;
    width: auto;
  }

  #mainSection {
    border-radius: 0px;
    margin: 0px;
    width: 100%;
    height: 1400px;
    background-color: white;
  }

  #mainSectionTitle {
    margin-top: 26px;
    margin-left: 20px;
  }

  #mainSectionFirstRow {
    flex-direction: column;
    margin: 0px;
    margin-top: 26px;
  }

  #mainSectionSecondRow {
    flex-direction: column;
    margin: 0px;
  }

  .mainSectionArticle {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    margin-bottom: 12px;
  }

  .mainSectionArticleImage {
    display: block;
    margin-left: 0px;
    width: 100%;
    height: 124px;
  }
  
  .mainSectionArticleText {
    width: 100%;
    height: 75px;
  }

  #mainSectionSeeMore {
    display: none;
  }

  #activitySectionTitle {
    margin-top: 100px;
    width: 150px;
  }

  #activitySection {
    flex-direction: column;
    height: 856px;
    margin-top: 0px;
  }

  .activitySectionArticle {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: 190px;
  }

  .activitySectionArticleImage {
    height: 134px;
  }


  footer {
    flex-direction: column;
    height: 501px;
    margin: 0px;
    width: auto;
    margin-top: 80px;
  }
}