@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

* {
  font-family: "Raleway", sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
  max-width: 1400px;
  margin: auto;
}

h1 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

nav {
  font-size: 16px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.logoBooki {
  height: 19px;
  margin-top: 44px;
  margin-left: 55px;
}

#navMenu {
  display: flex;
  margin-right: 52px;
}

#navMenu a {
  display: inline-block;
  padding-top: 48px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

#navMenu a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 46px;
}

#title {
  margin-top: 59px;
  margin-left: 55px;
}

#subtitle {
  margin-top: 4px;
  margin-left: 55px;
}

#searchBar {
  position: relative;
  margin-top: 20px;
  margin-left: 55px;
  display: flex;
  width: 410px;
  height: 50px;
  border-radius: 15px;
  background-color: #d9d9d9;
}

#locationLogo {
  height: 48px;
  width: 48px;
  margin-left: 1px;
  display: flex;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

#cityName {
  height: 48px;
  background-color: white;
  margin-left: 1px;
  padding: 16px;
  font-size: 18px;
  border-style: none;
  font-weight: bold;
}

#cityName::placeholder {
  font-size: 18px;
  color: black;
  font-weight: bolder;
}

#search a {
  color: white;
  font-size: 18px;
  background-color: #0065fc;
  font-weight: bold;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: 1px;
}

#filter {
  display: flex;
  justify-content: center;
  width: 900px;
  margin-top: 46px;
  margin-left: 62px;
}

#filter p {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  display: block;
}

.filters a {
  display: flex;
  font-size: 17px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: 40px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
}

.filters a:hover {
  background-color: #deebff;
}

.filters i {
  color: #0065fc;
  padding-right: 10px;
}

#disponibleLocation {
  margin-top: 57px;
  margin-left: 69px;
}

#disponibleLocation i{
  color: #0065fc;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 11px;
  border: 1px solid #d9d9d9;
  border-radius: 80px;
}